In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="newpassword25"
)

print(mydb)

# https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753
# https://stackoverflow.com/questions/49194719/authentication-plugin-caching-sha2-password-cannot-be-loaded?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fdf54798cd0>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="newpassword25",
  database="citi_bike"
)

mycursor = mydb.cursor()
sql = "SELECT * FROM cities"
mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Abilene', 115930)
('Akron', 217074)
('Albany', 93994)
('Albuquerque', 448607)
('Alexandria', 128283)
('Allentown', 106632)
('Amarillo', 173627)
('Anaheim', 328014)
('Anchorage', 260283)
('Ann Arbor', 114024)
('Arden-Arcade', 92040)
('Arlington', 332969)
('Arlington', 174838)
('Arvada', 102153)
('Athens-Clarke County', 101489)
('Atlanta', 416474)
('Augusta-Richmond County', 199775)
('Aurora', 276393)
('Aurora', 142990)
('Austin', 656562)
('Bakersfield', 247057)
('Baltimore', 651154)
('Baton Rouge', 227818)
('Beaumont', 113866)
('Bellevue', 109569)
('Berkeley', 102743)
('Billings', 92988)
('Birmingham', 242820)
('Boise City', 185787)
('Boston', 589141)
('Boulder', 91238)
('Bridgeport', 139529)
('Brockton', 93653)
('Brownsville', 139722)
('Buffalo', 292648)
('Burbank', 100316)
('Cambridge', 101355)
('Cape Coral', 102286)
('Carrollton', 109576)
('Carson', 89089)
('Cary', 91213)
('Cedar Rapids', 120758)
('Chandler', 176581)
('Charleston', 89063)
('Charlotte', 540828)
('Chattanooga', 155554)
('Chesapeake', 199184)
('Chicago', 2896016)
('Chula Vista', 173556)
('Cincinnati', 331285)
('Citrus Heights', 103455)
('Clarksville', 108787)
('Clearwater', 99936)
('Cleveland', 478403)
('Colorado Springs', 360890)
('Columbia', 116278)
('Columbus', 711470)
('Columbus', 186291)
('Compton', 92864)
('Concord', 121780)
('Coral Springs', 117549)
('Corona', 124966)
('Corpus Christi', 277454)
('Costa Mesa', 108724)
('Dallas', 1188580)
('Daly City', 103621)
('Davenport', 98256)
('Dayton', 166179)
('Denver', 554636)
('Des Moines', 198682)
('Detroit', 951270)
('Downey', 107323)
('Durham', 187035)
('East Los Angeles', 126379)
('El Cajon', 94578)
('El Monte', 115965)
('El Paso', 563662)
('Elgin', 89408)
('Elizabeth', 120568)
('Erie', 103717)
('Escondido', 133559)
('Eugene', 137893)
('Evansville', 121582)
('Fairfield', 92256)
('Fall River', 90555)
('Fayetteville', 121015)
('Flint', 124943)
('Fontana', 128929)
('Fort Collins', 118652)
('Fort Lauderdale', 152397)
('Fort Wayne', 205727)
('Fort Worth', 534694)
('Fremont', 203413)
('Fresno', 427652)
('Fullerton', 126003)
('Gainesville', 92291)
('Garden Grove', 165196)
('Garland', 215768)
('Gary', 102746)
('Gilbert', 109697)
('Glendale', 218812)
('Glendale', 194973)
('Grand Prairie', 127427)
('Grand Rapids', 197800)
('Green Bay', 102313)
('Greensboro', 223891)
('Hampton', 146437)
('Hartford', 121578)
('Hayward', 140030)
('Henderson', 175381)
('Hialeah', 226419)
('Hollywood', 139357)
('Honolulu', 371657)
('Houston', 1953631)
('Huntington Beach', 189594)
('Huntsville', 158216)
('Independence', 113288)
('Indianapolis', 791926)
('Inglewood', 112580)
('Irvine', 143072)
('Irving', 191615)
('Jackson', 184256)
('Jacksonville', 735167)
('Jersey City', 240055)
('Joliet', 106221)
('Kansas City', 441545)
('Kansas City', 146866)
('Kenosha', 89447)
('Knoxville', 173890)
('Lafayette', 110257)
('Lakewood', 144126)
('Lancaster', 118718)
('Lansing', 119128)
('Laredo', 176576)
('Las Vegas', 478434)
('Lexington-Fayette', 260512)
('Lincoln', 225581)
('Little Rock', 183133)
('Livonia', 100545)
('Long Beach', 461522)
('Los Angeles', 3694820)
('Louisville', 256231)
('Lowell', 105167)
('Lubbock', 199564)
('Macon', 113336)
('Madison', 208054)
('Manchester', 107006)
('McAllen', 106414)
('Memphis', 650100)
('Mesa', 396375)
('Mesquite', 124523)
('Metairie', 149428)
('Miami', 362470)
('Miami Beach', 97855)
('Midland', 98293)
('Milwaukee', 596974)
('Minneapolis', 382618)
('Mission Viejo', 98049)
('Mobile', 198915)
('Modesto', 188856)
('Montgomery', 201568)
('Moreno Valley', 142381)
('Naperville', 128358)
('Nashville-Davidson', 569891)
('New Bedford', 94780)
('New Haven', 123626)
('New Orleans', 484674)
('New York', 8008278)
('Newark', 273546)
('Newport News', 180150)
('Norfolk', 234403)
('Norman', 94193)
('North Las Vegas', 115488)
('Norwalk', 103298)
('Oakland', 399484)
('Oceanside', 161029)
('Odessa', 89293)
('Oklahoma City', 506132)
('Omaha', 390007)
('Ontario', 158007)
('Orange', 128821)
('Orlando', 185951)
('Overland Park', 149080)
('Oxnard', 170358)
('Palmdale', 116670)
('Paradise', 124682)
('Pasadena', 141674)
('Pasadena', 133936)
('Paterson', 149222)
('Pembroke Pines', 137427)
('Peoria', 112936)
('Peoria', 108364)
('Philadelphia', 1517550)
('Phoenix', 1321045)
('Pittsburgh', 334563)
('Plano', 222030)
('Pomona', 149473)
('Portland', 529121)
('Portsmouth', 100565)
('Providence', 173618)
('Provo', 105166)
('Pueblo', 102121)
('Raleigh', 276093)
('Rancho Cucamonga', 127743)
('Reno', 180480)
('Richmond', 197790)
('Richmond', 94100)
('Riverside', 255166)
('Roanoke', 93357)
('Rochester', 219773)
('Rockford', 150115)
('Sacramento', 407018)
('Saint Louis', 348189)
('Saint Paul', 287151)
('Saint Petersburg', 248232)
('Salem', 136924)
('Salinas', 151060)
('Salt Lake City', 181743)
('San Antonio', 1144646)
('San Bernardino', 185401)
('San Buenaventura', 100916)
('San Diego', 1223400)
('San Francisco', 776733)
('San Jose', 894943)
('San Mateo', 91799)
('Sandy', 101853)
('Santa Ana', 337977)
('Santa Clara', 102361)
('Santa Clarita', 151088)
('Santa Monica', 91084)
('Santa Rosa', 147595)
('Savannah', 131510)
('Scottsdale', 202705)
('Seattle', 563374)
('Shreveport', 200145)
('Simi Valley', 111351)
('Sioux Falls', 123975)
('South Bend', 107789)
('Spokane', 195629)
('Springfield', 152082)
('Springfield', 151580)
('Springfield', 111454)
('Stamford', 117083)
('Sterling Heights', 124471)
('Stockton', 243771)
('Sunnyvale', 131760)
('Sunrise Manor', 95362)
('Syracuse', 147306)
('Tacoma', 193556)
('Tallahassee', 150624)
('Tampa', 303447)
('Tempe', 158625)
('Thousand Oaks', 117005)
('Toledo', 313619)
('Topeka', 122377)
('Torrance', 137946)
('Tucson', 486699)
('Tulsa', 393049)
('Vallejo', 116760)
('Vancouver', 143560)
('Virginia Beach', 425257)
('Visalia', 91762)
('Waco', 113726)
('Warren', 138247)
('Washington', 572059)
('Waterbury', 107271)
('West Covina', 105080)
('West Valley City', 108896)
('Westminster', 100940)
('Wichita', 344284)
('Wichita Falls', 104197)
('Winston-Salem', 185776)
('Worcester', 172648)
('Yonkers', 196086)

In [3]:
myresult

[('Abilene', 115930),
 ('Akron', 217074),
 ('Albany', 93994),
 ('Albuquerque', 448607),
 ('Alexandria', 128283),
 ('Allentown', 106632),
 ('Amarillo', 173627),
 ('Anaheim', 328014),
 ('Anchorage', 260283),
 ('Ann Arbor', 114024),
 ('Arden-Arcade', 92040),
 ('Arlington', 332969),
 ('Arlington', 174838),
 ('Arvada', 102153),
 ('Athens-Clarke County', 101489),
 ('Atlanta', 416474),
 ('Augusta-Richmond County', 199775),
 ('Aurora', 276393),
 ('Aurora', 142990),
 ('Austin', 656562),
 ('Bakersfield', 247057),
 ('Baltimore', 651154),
 ('Baton Rouge', 227818),
 ('Beaumont', 113866),
 ('Bellevue', 109569),
 ('Berkeley', 102743),
 ('Billings', 92988),
 ('Birmingham', 242820),
 ('Boise City', 185787),
 ('Boston', 589141),
 ('Boulder', 91238),
 ('Bridgeport', 139529),
 ('Brockton', 93653),
 ('Brownsville', 139722),
 ('Buffalo', 292648),
 ('Burbank', 100316),
 ('Cambridge', 101355),
 ('Cape Coral', 102286),
 ('Carrollton', 109576),
 ('Carson', 89089),
 ('Cary', 91213),
 ('Cedar Rapids', 120758),
 ('Chandler', 176581),
 ('Charleston', 89063),
 ('Charlotte', 540828),
 ('Chattanooga', 155554),
 ('Chesapeake', 199184),
 ('Chicago', 2896016),
 ('Chula Vista', 173556),
 ('Cincinnati', 331285),
 ('Citrus Heights', 103455),
 ('Clarksville', 108787),
 ('Clearwater', 99936),
 ('Cleveland', 478403),
 ('Colorado Springs', 360890),
 ('Columbia', 116278),
 ('Columbus', 711470),
 ('Columbus', 186291),
 ('Compton', 92864),
 ('Concord', 121780),
 ('Coral Springs', 117549),
 ('Corona', 124966),
 ('Corpus Christi', 277454),
 ('Costa Mesa', 108724),
 ('Dallas', 1188580),
 ('Daly City', 103621),
 ('Davenport', 98256),
 ('Dayton', 166179),
 ('Denver', 554636),
 ('Des Moines', 198682),
 ('Detroit', 951270),
 ('Downey', 107323),
 ('Durham', 187035),
 ('East Los Angeles', 126379),
 ('El Cajon', 94578),
 ('El Monte', 115965),
 ('El Paso', 563662),
 ('Elgin', 89408),
 ('Elizabeth', 120568),
 ('Erie', 103717),
 ('Escondido', 133559),
 ('Eugene', 137893),
 ('Evansville', 121582),
 ('Fairfield', 92256),
 ('Fall River', 90555),
 ('Fayetteville', 121015),
 ('Flint', 124943),
 ('Fontana', 128929),
 ('Fort Collins', 118652),
 ('Fort Lauderdale', 152397),
 ('Fort Wayne', 205727),
 ('Fort Worth', 534694),
 ('Fremont', 203413),
 ('Fresno', 427652),
 ('Fullerton', 126003),
 ('Gainesville', 92291),
 ('Garden Grove', 165196),
 ('Garland', 215768),
 ('Gary', 102746),
 ('Gilbert', 109697),
 ('Glendale', 218812),
 ('Glendale', 194973),
 ('Grand Prairie', 127427),
 ('Grand Rapids', 197800),
 ('Green Bay', 102313),
 ('Greensboro', 223891),
 ('Hampton', 146437),
 ('Hartford', 121578),
 ('Hayward', 140030),
 ('Henderson', 175381),
 ('Hialeah', 226419),
 ('Hollywood', 139357),
 ('Honolulu', 371657),
 ('Houston', 1953631),
 ('Huntington Beach', 189594),
 ('Huntsville', 158216),
 ('Independence', 113288),
 ('Indianapolis', 791926),
 ('Inglewood', 112580),
 ('Irvine', 143072),
 ('Irving', 191615),
 ('Jackson', 184256),
 ('Jacksonville', 735167),
 ('Jersey City', 240055),
 ('Joliet', 106221),
 ('Kansas City', 441545),
 ('Kansas City', 146866),
 ('Kenosha', 89447),
 ('Knoxville', 173890),
 ('Lafayette', 110257),
 ('Lakewood', 144126),
 ('Lancaster', 118718),
 ('Lansing', 119128),
 ('Laredo', 176576),
 ('Las Vegas', 478434),
 ('Lexington-Fayette', 260512),
 ('Lincoln', 225581),
 ('Little Rock', 183133),
 ('Livonia', 100545),
 ('Long Beach', 461522),
 ('Los Angeles', 3694820),
 ('Louisville', 256231),
 ('Lowell', 105167),
 ('Lubbock', 199564),
 ('Macon', 113336),
 ('Madison', 208054),
 ('Manchester', 107006),
 ('McAllen', 106414),
 ('Memphis', 650100),
 ('Mesa', 396375),
 ('Mesquite', 124523),
 ('Metairie', 149428),
 ('Miami', 362470),
 ('Miami Beach', 97855),
 ('Midland', 98293),
 ('Milwaukee', 596974),
 ('Minneapolis', 382618),
 ('Mission Viejo', 98049),
 ('Mobile', 198915),
 ('Modesto', 188856),
 ('Montgomery', 201568),
 ('Moreno Valley', 142381),
 ('Naperville', 128358),
 ('Nashville-Davidson', 569891),
 ('New Bedford', 94780),
 ('New Haven', 123626),
 ('New Orleans', 484674),
 ('New York', 8008278),
 ('Newark', 273546),
 ('Newport News', 180150),
 ('Norfolk', 234403),
 ('Norman', 94193),
 ('North Las Vegas', 115488),
 ('Norwalk', 103298),
 ('Oakland', 399484),
 ('Oceanside', 161029),
 ('Odessa', 89293),
 ('Oklahoma City', 506132),
 ('Omaha', 390007),
 ('Ontario', 158007),
 ('Orange', 128821),
 ('Orlando', 185951),
 ('Overland Park', 149080),
 ('Oxnard', 170358),
 ('Palmdale', 116670),
 ('Paradise', 124682),
 ('Pasadena', 141674),
 ('Pasadena', 133936),
 ('Paterson', 149222),
 ('Pembroke Pines', 137427),
 ('Peoria', 112936),
 ('Peoria', 108364),
 ('Philadelphia', 1517550),
 ('Phoenix', 1321045),
 ('Pittsburgh', 334563),
 ('Plano', 222030),
 ('Pomona', 149473),
 ('Portland', 529121),
 ('Portsmouth', 100565),
 ('Providence', 173618),
 ('Provo', 105166),
 ('Pueblo', 102121),
 ('Raleigh', 276093),
 ('Rancho Cucamonga', 127743),
 ('Reno', 180480),
 ('Richmond', 197790),
 ('Richmond', 94100),
 ('Riverside', 255166),
 ('Roanoke', 93357),
 ('Rochester', 219773),
 ('Rockford', 150115),
 ('Sacramento', 407018),
 ('Saint Louis', 348189),
 ('Saint Paul', 287151),
 ('Saint Petersburg', 248232),
 ('Salem', 136924),
 ('Salinas', 151060),
 ('Salt Lake City', 181743),
 ('San Antonio', 1144646),
 ('San Bernardino', 185401),
 ('San Buenaventura', 100916),
 ('San Diego', 1223400),
 ('San Francisco', 776733),
 ('San Jose', 894943),
 ('San Mateo', 91799),
 ('Sandy', 101853),
 ('Santa Ana', 337977),
 ('Santa Clara', 102361),
 ('Santa Clarita', 151088),
 ('Santa Monica', 91084),
 ('Santa Rosa', 147595),
 ('Savannah', 131510),
 ('Scottsdale', 202705),
 ('Seattle', 563374),
 ('Shreveport', 200145),
 ('Simi Valley', 111351),
 ('Sioux Falls', 123975),
 ('South Bend', 107789),
 ('Spokane', 195629),
 ('Springfield', 152082),
 ('Springfield', 151580),
 ('Springfield', 111454),
 ('Stamford', 117083),
 ('Sterling Heights', 124471),
 ('Stockton', 243771),
 ('Sunnyvale', 131760),
 ('Sunrise Manor', 95362),
 ('Syracuse', 147306),
 ('Tacoma', 193556),
 ('Tallahassee', 150624),
 ('Tampa', 303447),
 ('Tempe', 158625),
 ('Thousand Oaks', 117005),
 ('Toledo', 313619),
 ('Topeka', 122377),
 ('Torrance', 137946),
 ('Tucson', 486699),
 ('Tulsa', 393049),
 ('Vallejo', 116760),
 ('Vancouver', 143560),
 ('Virginia Beach', 425257),
 ('Visalia', 91762),
 ('Waco', 113726),
 ('Warren', 138247),
 ('Washington', 572059),
 ('Waterbury', 107271),
 ('West Covina', 105080),
 ('West Valley City', 108896),
 ('Westminster', 100940),
 ('Wichita', 344284),
 ('Wichita Falls', 104197),
 ('Winston-Salem', 185776),
 ('Worcester', 172648),
 ('Yonkers', 196086)]

In [ ]:
!pip install ipython-sql

In [ ]:
%load_ext sql

In [ ]:
%sql mssql+pyodbc://root:newpassword25@127.0.0.1:3306/citi_bike?DRIVER={sqlsrv}

# mssql+pyodbc://user:password@server/database?DRIVER={enty in /etc/odbcinst.ini}

In [5]:
import os
import glob

path = '/Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/scripts/workspace/Link_Michael/test'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
# print(result)
type(result)

list

In [30]:
last_header = None
# Loop through the files

files = result

for file in files:
    with open(file) as f:
        # Read the header
        header = f.readline().split(',')
        header = [i.replace(" ", "").replace('"', "").lower() for i in header]
#         header = header.strip(' ').lower()
        print(len(header), '\n', header, '\n')
#         # If this is the first file, then store the
#         # header for later comparison
#         if last_header == None:
#             last_header = header
#         # Check that the header match the last header
#         elif header.strip().lower() != last_header.strip().lower():
#             print(header)
#             quit()
#         print(len(header.strip().lower()))
#         # Read the remaining lines
# #         lines = f.readlines()

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15
 ['tripduration', 'starttime', 'stoptime', 'startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude', 'endstationid', 'endstationname', 'endstationlatitude', 'endstationlongitude', 'bikeid', 'usertype', 'birthyear', 'gender\n']

15

### Referencing SQLite data

In [1]:
# /Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/scripts/workspace/Link_Michael/SQL_SAFI.sqlite
# /Users/michaellink/Desktop/sqlite_practice/test_citi_bike.db
%load_ext sql
%sql sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/citi_bike.db

### Selecting all from the crops table

In [2]:
%sql SELECT * FROM yr_2019 LIMIT 5;

 * sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/citi_bike.db
Done.

[(20, '2019-01-01 00:01:47.4010', '2019-01-01 00:07:07.5810', 3160, 'Central Park West & W 76 St', 40.77896784, -73.97374737, 3283, 'W 89 St & Columbus Ave', 40.7882213, -73.97041561, 15839, 'Subscriber', 1971, 1),
 (16, '2019-01-01 00:04:43.7360', '2019-01-01 00:10:00.6080', 519, 'Pershing Square North', 40.751873, -73.977706, 518, 'E 39 St & 2 Ave', 40.74780373, -73.9734419, 32723, 'Subscriber', 1964, 1),
 (91, '2019-01-01 00:06:03.9970', '2019-01-01 00:15:55.4380', 3171, 'Amsterdam Ave & W 82 St', 40.78524672, -73.97667321, 3154, 'E 77 St & 3 Ave', 40.77314236, -73.95856158, 27451, 'Subscriber', 1987, 1),
 (719, '2019-01-01 00:07:03.5450', '2019-01-01 00:52:22.6500', 504, '1 Ave & E 16 St', 40.73221853, -73.98165557, 3709, 'W 15 St & 6 Ave', 40.738046142482766, -73.99642959237099, 21579, 'Subscriber', 1990, 1),
 (3, '2019-01-01 00:07:35.9450', '2019-01-01 00:12:39.5020', 229, 'Great Jones St', 40.72743423, -73.99379025, 503, 'E 20 St & Park Ave', 40.73827428, -73.98751968, 35379, 'Subscriber', 1979, 1)]

### Referencing SQLite data

In [1]:
# /Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/scripts/workspace/Link_Michael/SQL_SAFI.sqlite
# /Users/michaellink/Desktop/sqlite_practice/test_citi_bike.db
%load_ext sql
%sql sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/citi_bike.db

### Selecting all from the crops table

In [2]:
%sql SELECT * FROM yr_2019 LIMIT 5;

 * sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/citi_bike.db
Done.

[(20, '2019-01-01 00:01:47.4010', '2019-01-01 00:07:07.5810', 3160, 'Central Park West & W 76 St', 40.77896784, -73.97374737, 3283, 'W 89 St & Columbus Ave', 40.7882213, -73.97041561, 15839, 'Subscriber', 1971, 1),
 (16, '2019-01-01 00:04:43.7360', '2019-01-01 00:10:00.6080', 519, 'Pershing Square North', 40.751873, -73.977706, 518, 'E 39 St & 2 Ave', 40.74780373, -73.9734419, 32723, 'Subscriber', 1964, 1),
 (91, '2019-01-01 00:06:03.9970', '2019-01-01 00:15:55.4380', 3171, 'Amsterdam Ave & W 82 St', 40.78524672, -73.97667321, 3154, 'E 77 St & 3 Ave', 40.77314236, -73.95856158, 27451, 'Subscriber', 1987, 1),
 (719, '2019-01-01 00:07:03.5450', '2019-01-01 00:52:22.6500', 504, '1 Ave & E 16 St', 40.73221853, -73.98165557, 3709, 'W 15 St & 6 Ave', 40.738046142482766, -73.99642959237099, 21579, 'Subscriber', 1990, 1),
 (3, '2019-01-01 00:07:35.9450', '2019-01-01 00:12:39.5020', 229, 'Great Jones St', 40.72743423, -73.99379025, 503, 'E 20 St & Park Ave', 40.73827428, -73.98751968, 35379, 'Subscriber', 1979, 1)]

In [3]:
# Speed up. This is pretty slow
%sql select * from yr_2019 order by random() limit 10;

 * sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/citi_bike.db
Done.

[(224, '2019-11-07 16:30:05.3540', '2019-11-07 16:50:29.4760', 478, '11 Ave & W 41 St', 40.76030096, -73.99884222, 497, 'E 17 St & Broadway', 40.73704984, -73.99009296, 39372, 'Subscriber', 1954, 1),
 (14, '2019-10-28 14:50:00.4190', '2019-10-28 15:00:15.1460', 3135, 'E 75 St & 3 Ave', 40.77112927, -73.95772297, 3136, '5 Ave & E 63 St', 40.766368, -73.971518, 34239, 'Subscriber', 1955, 1),
 (43, '2019-08-29 09:07:01.5820', '2019-08-29 09:12:45.5720', 167, 'E 39 St & 3 Ave', 40.7489006, -73.97604882, 526, 'E 33 St & 5 Ave', 40.74765947, -73.98490707, 32869, 'Subscriber', 1994, 2),
 (79, '2019-03-09 10:24:10.6200', '2019-03-09 10:38:50.3770', 3081, 'Graham Ave & Grand St', 40.711863, -73.944024, 313, 'Washington Ave & Park Ave', 40.69610226, -73.96751037, 37383, 'Subscriber', 1985, 1),
 (568, '2019-06-08 08:31:42.1190', '2019-06-08 08:57:50.1960', 3305, 'E 91 St & 2 Ave', 40.78112229934166, -73.94965589046478, 168, 'W 18 St & 6 Ave', 40.73971301, -73.99456405, 34035, 'Subscriber', 1970, 2),
 (80, '2019-05-25 17:46:37.0640', '2019-05-25 17:57:57.5530', 195, 'Liberty St & Broadway', 40.70905623, -74.01043382, 534, 'Water - Whitehall Plaza', 40.70255065, -74.0127234, 17695, 'Customer', 1969, 0),
 (15, '2019-10-04 16:12:05.4800', '2019-10-04 16:20:40.9910', 465, 'Broadway & W 41 St', 40.75513557, -73.98658032, 478, '11 Ave & W 41 St', 40.76030096, -73.99884222, 20654, 'Subscriber', 1990, 1),
 (84, '2019-11-14 21:36:13.2200', '2019-11-14 21:45:57.4550', 284, 'Greenwich Ave & 8 Ave', 40.7390169121, -74.0026376103, 328, 'Watts St & Greenwich St', 40.72405549, -74.00965965, 38999, 'Subscriber', 1968, 1),
 (39, '2019-07-16 14:08:46.7750', '2019-07-16 14:16:06.1140', 326, 'E 11 St & 1 Ave', 40.72953837, -73.98426726, 528, '2 Ave & E 31 St', 40.74290902, -73.97706058, 24867, 'Subscriber', 1989, 1),
 (41, '2019-08-11 17:56:45.4500', '2019-08-11 17:59:06.8410', 3396, 'Clinton St & 4 Place', 40.6783563, -74.00014502, 3321, 'Clinton St & Union St', 40.6831164, -73.99785267, 34978, 'Subscriber', 1985, 1)]

In [4]:
import pandas as pd
result = %sql select * from cities;
df = result.DataFrame()
print(type(df))
df

 * sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/data/citibike/sqlite/cb.db
Done.
<class 'pandas.core.frame.DataFrame'>

              name  population
0          Abilene      115930
1            Akron      217074
2           Albany       93994
3      Albuquerque      448607
4       Alexandria      128283
..             ...         ...
269        Wichita      344284
270  Wichita Falls      104197
271  Winston-Salem      185776
272      Worcester      172648
273        Yonkers      196086

[274 rows x 2 columns]

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite://

In [ ]:
%%sql   
CREATE TABLE EMPLOYEE(firstname varchar(50),lastname varchar(50));  
INSERT INTO EMPLOYEE VALUES('Tom','Mitchell');  
INSERT INTO EMPLOYEE VALUES('Jack','Ryan');

In [ ]:
 %sql SELECT * from EMPLOYEE;

### Referencing SQLite data

In [ ]:
# /Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/scripts/workspace/Link_Michael/SQL_SAFI.sqlite

%sql sqlite:////Users/michaellink/Desktop/__NYCDSA/_Projects/Capstone/scripts/workspace/Link_Michael/SQL_SAFI.sqlite

### Selecting all from the crops table

In [ ]:
%sql select * from Crops

### Specialized query

In [ ]:
%sql SELECT * from Crops WHERE D_curr_crop = "maize" AND ID <= 3;

In [ ]:
import pandas as pd
result = %sql SELECT * from Crops WHERE D_curr_crop = "maize" AND ID <= 3;
df = result.DataFrame()
print(type(df))
df

In [ ]:
df.info()

In [ ]:
!conda install -c conda-forge nodejs

In [ ]:
!pip install jupyterlab_sql

In [ ]:
!jupyter serverextension enable jupyterlab_sql --py --sys-prefix

In [ ]:
!jupyter lab build